.container {
    height: 500%;
    width: 100%;
    position: auto;
    overflow-y: auto;
    margin: 0;
    padding: 0; 
    background-color: #222831;
}
.body {
    background-color: antiquewhite;
    margin-top: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center !important;
    
    height: 80%;
    width: 80%;
}
.body div p{
    font-weight:700;
    font-size: 3vh;
    color: #eeeeeebe;
    float:left;
}
.body div{
    display: flex;
    align-items: center;
    align-items: left;
    margin: 2vh;
}
.file-input {
    display: none;
}
.attach-file-class{
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    max-height: 10vh;
    background-color: #4A4A4A;
    width: 100vh;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

