<!-- <div class="wrapper vertical-center login absolute">
    <div class="block-center mt-xl wd-xl">
        <div style="margin: -10px">
           
        </div>
    </div>
</div> -->

<div class="wrapper vertical-center login">
    <div class="block-center mt-xl wd-xl">
        <div class="panel panel-flat">
            <div class="panel-heading text-center">      
                    <img class="block-center img-rounded" src="assets/img/travessia-logo.png" alt="Travessia">
            </div>
            <div class="panel-body">
                <p class="text-center pv">SIGN IN TO CONTINUE</p>
                <div class="text-center">
                    <div class="row">
                        <div>
                            <mat-form-field style="width: 40vh; height: 7vh;">
                                <mat-label>Username</mat-label>
                                <input matInput [(ngModel)]="userName" name="userName" placeholder="Username">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <mat-form-field style="width: 40vh; height: 7vh;">
                                <mat-label>Password</mat-label>
                                <input matInput [(ngModel)]="password" name="password" placeholder="Password" type="password">
                            </mat-form-field>
                        </div>
                    </div>                    
                    <button class="btn btn-block btn-primaty mt-lg" (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>