  <div class="title">
    <h1>Gerador de Relatório</h1>
  </div>
  <div class="report-generator">
  <div class="content-container">
    <div class="options">
      <label for="reportOption">Selecione uma opção:</label>
      <div class="row">
        <select id="reportOption" [(ngModel)]="selectedOption" class="my-custom-select">
          <option value="opcao1">Opção 1</option>
          <option value="opcao2">Opção 2</option>
        </select>
      </div>
    </div>
  
    <!-- Mova o campo de upload de arquivo aqui -->
    <div class="file-upload">
      <input type="file" (change)="onFileSelected($event)" />
    </div>
  
    <!-- Mova o botão de gerar relatório aqui -->
    <button (click)="generateReport()" class="generate-button">Gerar Relatório</button>
  
    <div *ngIf="reportGenerated" class="download-button">
      <a (click)="downloadReport()" [ngClass]="{'link': reportGenerated}">Download Relatório</a>
    </div>
  </div>
  
</div>
