@import '../node_modules/font-awesome/css/font-awesome.css';

* {
  margin: 0;
  padding: 0;
}

.report-generator {
  background-color: #e6f7ff;
  padding: 2%; /* Use uma unidade relativa para o preenchimento (porcentagem) */
  border-radius: 10px;

  h1 {
    font-size: 2rem; /* Use uma unidade relativa para o tamanho da fonte (rem) */
    margin-bottom: 1rem;
  }

  .options {
    margin-bottom: 1rem;

    label {
      font-weight: bold;
    }
  }

  .file-upload {
    margin-bottom: 1rem;
  }

  .generate-button {
    padding: 1rem 2rem; /* Use unidades relativas para o preenchimento (rem) */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  .download-button {
    margin-top: 1rem;
  }

  .my-custom-select {
    width: 100%; /* Faça com que a largura ocupe 100% do contêiner pai */
    height: 2rem; /* Use uma unidade relativa para a altura (rem) */
    margin: 0;
    border: 1px solid #ccc;
  }

  .link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .content-container {
    text-align: left;
    justify-content: left;
  }

  .title {
    text-align: center;
  }

  @media (max-width: 768px) {
    /* Estilos específicos para telas menores (por exemplo, dispositivos móveis) */
    .report-generator {
      padding: 1%; /* Ajuste o preenchimento para telas menores */
    }
    h1 {
      font-size: 1.5rem; /* Reduza o tamanho da fonte em telas menores */
    }
    /* Adicione mais estilos responsivos conforme necessário */
  }
}
