<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter|Martel" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" >

<mat-toolbar class="header">
    <span>
        <i class="material-symbols-outlined">
            menu
        </i>
        <a>
            <img class="logo" src="assets/img/travessia-logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <!-- <a>
            
            Reports System
            
        </a> -->
    </span>
    <span class="icon-group">
        <i class="material-icons">
            dashboards
        </i>
        <i class="material-symbols-outlined">
            person
        </i> 
    </span>
    

</mat-toolbar>
<script> 

</script>
